<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="/img/me.jpg" class="portrait">
        <p>This site is created by Rendy. It uses data from mapbox.com and weatherstack!</p>
    </div>
    {{>footer}}
</body>
</html>